**
!package.json
!package-lock.json
!web-app/
!web-app/Dockerfile
!web-app/nginx.conf
!web-app/package.json
!web-app/dist/
!web-app/dist/**
!keyboard-app/
!keyboard-app/Dockerfile
!keyboard-app/nginx.conf
!keyboard-app/package.json
!keyboard-app/dist/
!keyboard-app/dist/**
!shared-ui/
!shared-ui/package.json
!browser-extension/
!browser-extension/package.json
!game-sync-sdk/
!game-sync-sdk/**
!game-adapter-service/
!game-adapter-service/**
